
<div class="links">
    <span style="font-size: 100px"><i class="fa fa-camera"></i></span>
        <a href="/"><span style="font-size: 100px"><i class="fa fa-chevron-circle-left"></i></span></a>

    <a href="/"><span style="font-size: 100px"><i class="fa fa-chevron-circle-left"></i></span></a>
</div>

