<html>
<header>    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
    <script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
    <script src="../public/js/index.js/"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
    <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  </header>

<div id="logo">
<img src="../assets/picture.png" width="200px" height="250px">
</div>
  <body>

        <div class="login-buttons">
        <div id="facebook-button" class="facebook login">
            <img src="https://c-fam.org/wp-content/uploads/fbroundicon.png" width="45px" height="45px">
        </div>
        <div id="google-button" class="google login">
            <img src="http://prenotadjcantantefirenze.it/wp-content/uploads/2015/06/social-circle-google-plus-2-512.png" width="45px" height="45px">
        </div>
        <div id="twitter-button" class="twitter login">
            <img src="http://icons-for-free.com/free-icons/png/512/834708.png" width="45px" height="45px">
        </div>
        </div>

    <div class="select-login">
        - login with gmail -
    </div>





    <script>
        
    </script>
</body>

</html>