<html>

<header>
    <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
</header>

<body>
    <div class="action-buttons">
        
        <div id="camera-button">
            <span style="font-size:80px; color:#3C3C3C;">
                <a href="camera" style="text-decorations:none; color:inherit;"><i class="fa fa-camera"></i></a>
            </span>
        </div>
        
        <div id="images-button">
            <span style="font-size:80px; color:#4B4B4B;">
                <a href="photos" style="text-decorations:none; color:inherit;"><i class="fa fa-image"></i></a>
            </span>
        </div>
        
        <div id="profile-button">
            <span style="font-size:100px; color:#5B5B5B;">
                <a href="profile" style="text-decorations:none; color:inherit;"><i class="fa fa-user"></i></a>
            </span>
        </div>
        
        <div id="signout-button">
            <span style="font-size:90px; color:#6C6C6C;">
                <a href="/" style="text-decorations:none; color:inherit;"><i class="fa fa-sign-out"></i></a>
            </span>
        </div>
    
    </div>
</body>

</html>