<html>

<header>
    <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
</header>

<div id="nav-footer">
    <div class="icons">
        <div class="profile-button">
            <a href="profile" style="text-decorations:none; color:inherit;"><i class="fa fa-user"></i></a>
        </div>
        <div class="signout-button">
            <a href="/" style="text-decorations:none; color:inherit;"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>
</div>

  <div class="event-menu-title">
        <h2>Events in 'Seattle'</h2>
    </div>

<div id="events-nav">
    
    <div class="events-list">
        <div class="event-name">
             <div class="add-event">
                 <span style="font-size: 40px;">
            <i class="fa fa-plus-square"></i>
            </span>
        </div>
            <h3>Artist | Venue</h3>
        </div>
    </div>

    <div class="events-list">
        <div class="event-name">
             <div class="add-event">
                 <span style="font-size: 40px;">
            <i class="fa fa-plus-square"></i>
            </span>
        </div>
            <h3>The Killers | WAMU Theatre</h3>
        </div>
    </div>

    <div class="events-list">
        <div class="event-name">
             <div class="add-event">
                 <span style="font-size: 40px;">
            <i class="fa fa-plus-square"></i>
            </span>
        </div>
            <h3>Beyonce | Century Link Field</h3>
        </div>
    </div>

    <div class="events-list">
        <div class="event-name">
             <div class="add-event">
                 <span style="font-size: 40px;">
            <i class="fa fa-plus-square"></i>
            </span>
        </div>
            <h3>Kygo | SoDo Box Office</h3>
        </div>
    </div>





</div>


</html>