<div class="card-columns">

  <div class="photo">
    <div class="card">
        <img class="card-img" src="http://amtrakdowneaster.com/sites/default/files/2017-10/Concert_2_0.jpg" alt="Card image">
        <span style="font-size: 40px"> <i class="fa fa-arrow-circle-down"></i></span>
    </div>
  </div>

 <div class="photo">
    <div class="card">
        <img class="card-img" src="https://cdn1.medicalnewstoday.com/content/images/articles/321/321093/band-and-crowd-at-concert.jpg" alt="Card image">
        <span style="font-size: 40px"> <i class="fa fa-arrow-circle-down"></i></span>
    </div>
  </div>

  <div class="photo">
    <div class="card">
        <img class="card-img" src="https://www.kclimo.com/wp-content/uploads/2015/02/hot-KC-concert-crowd.jpg" alt="Card image">
        <span style="font-size: 40px"> <i class="fa fa-arrow-circle-down"></i></span>
    </div>
  </div>

<div class="photo">
    <div class="card">
        <img class="card-img" src="https://www.1035bobfm.com/sites/g/files/exi591/f/styles/large_730/public/article-images-featured/shutterstock_611045375.jpg?itok=zcrr0tvN" alt="Card image">
        <span style="font-size: 40px"> <i class="fa fa-arrow-circle-down"></i></span>
    </div>
  </div>

  <div class="photo">
    <div class="card">
        <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDqQGZUpFpO0_-yynms59EtDXhO00B7l4cb2UMnk6wkvB5CXJx" alt="Card image">
        <span style="font-size: 40px"> <i class="fa fa-arrow-circle-down"></i></span>
    </div>
  </div>

  <div class="photo">
    <div class="card">
        <img class="card-img" src="http://www.fouroverfour.jukely.com/wp-content/uploads/2017/11/concert-crowd-at-live-music-festival-m.jpg" alt="Card image">
        <span style="font-size: 40px"> <i class="fa fa-arrow-circle-down"></i></span>
    </div>
  </div>

</div>

<div class="home">
    <a href="camera"><span style="font-size: 100px"><i class="fa fa-chevron-circle-left"></i></span></a>
</div>

TEST
