<html>

<header>
    <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
</header>

<div class="event-menu-title">
        <h2>Photos From 'Event'</h2>
    </div>

<div id="nav-footer">
    <div id="camera">
<div class="camera-button">
            <a href="" style="text-decorations:none; color:inherit;"><i class="fa fa-camera"></i></a>
        </div>
    </div>
    <div class="icons">
        <div class="profile-button">
            <a href="profile" style="text-decorations:none; color:inherit;"><i class="fa fa-user"></i></a>
        </div>
        
        <div class="signout-button">
            <a href="/" style="text-decorations:none; color:inherit;"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>
</div>




<header>
<div class="image"><img src="http://amtrakdowneaster.com/sites/default/files/2017-10/Concert_2_0.jpg" alt></div>
<div class="image"><img src="https://cdn1.medicalnewstoday.com/content/images/articles/321/321093/band-and-crowd-at-concert.jpg" alt></div>
<div class="image"><img src="https://www.kclimo.com/wp-content/uploads/2015/02/hot-KC-concert-crowd.jpg" alt></div>
<div class="image"><img src="https://www.1035bobfm.com/sites/g/files/exi591/f/styles/large_730/public/article-images-featured/shutterstock_611045375.jpg?itok=zcrr0tvN" alt></div>
<div class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDqQGZUpFpO0_-yynms59EtDXhO00B7l4cb2UMnk6wkvB5CXJx" alt></div>
<div class="image"><img src="http://amtrakdowneaster.com/sites/default/files/2017-10/Concert_2_0.jpg" alt></div>
<div class="image"><img src="https://cdn1.medicalnewstoday.com/content/images/articles/321/321093/band-and-crowd-at-concert.jpg" alt></div>
<div class="image"><img src="https://www.kclimo.com/wp-content/uploads/2015/02/hot-KC-concert-crowd.jpg" alt></div>
<div class="image"><img src="https://www.1035bobfm.com/sites/g/files/exi591/f/styles/large_730/public/article-images-featured/shutterstock_611045375.jpg?itok=zcrr0tvN" alt></div>
<div class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDqQGZUpFpO0_-yynms59EtDXhO00B7l4cb2UMnk6wkvB5CXJx" alt></div>
</header>
 
 
<input type="file" accept="image/*" id="file-input">
<script>
  const fileInput = document.getElementById('file-input');

  fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));


const cloudName = 'dzaz05xgm';
const unsignedUploadPreset = 'your unsigned upload preset';

$.cloudinary.config({
  cloud_name: cloudName
})

$('.cloudinary_fileupload').unsigned_cloudinary_upload(unsignedUploadPreset, {
    cloud_name: cloudName,
    tags: 'browser_uploads'
  }, {
    multiple: true
  }
  )
  .bind('cloudinarydone', function(e, data) {
    console.log(`data.loaded: ${data.loaded},
  data.total: ${data.total}`)
  })
  .bind('fileuploadprogress', function(e, data) {
    console.log(`fileuploadprogress data.loaded: ${data.loaded},
  data.total: ${data.total}`);
  })
  .bind('cloudinaryprogress', function(e, data) {
    console.log(`cloudinaryprogress data.loaded: ${data.loaded},
  data.total: ${data.total}`);
  })
  .bind('cloudinarydone', function(e, data) {
  // inspect data.result for return value with link to the uploaded image and more
  console.log('Upload result', data.result);
  // Create a thumbnail of the uploaded image, with 150px width
    var image = $.cloudinary.image(
        data.result.public_id, {
          secure: true,
          width: 150,
          crop: 'scale'
        });
    $('.gallery').prepend(image);
});

/*
Sample output in browser console:

cloudinaryprogress data.loaded: 1228664,
  data.total: 4620250
VM367:86 fileuploadprogress data.loaded: 1228664,
  data.total: 4620250
VM426:90 cloudinaryprogress data.loaded: 3751521,
  data.total: 4620250
VM367:86 fileuploadprogress data.loaded: 3751521,
  data.total: 4620250
VM426:90 cloudinaryprogress data.loaded: 4341280,
  data.total: 4620250
VM367:86 fileuploadprogress data.loaded: 4341280,
  data.total: 4620250
VM426:90 cloudinaryprogress data.loaded: 4620250,
  data.total: 4620250
VM367:86 fileuploadprogress data.loaded: 4620250,
  data.total: 4620250
VM339:82 data.loaded: 4620250,
  data.total: 4620250
  
*/


</script>

  
</body>

</html>