<html>

<header>
    <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
</header>

<div class="event-menu-title">
        <h2>Photos From Annie</h2>
    </div>

<div id="nav-footer">
    <div id="camera">
<div class="camera-button">
            <a href="" style="text-decorations:none; color:inherit;"><i class="fa fa-camera"></i></a>
        </div>
    </div>
    <div class="icons">
        <div class="profile-button">
            <a href="profile" style="text-decorations:none; color:inherit;"><i class="fa fa-user"></i></a>
        </div>
        
        <div class="signout-button">
            <a href="/" style="text-decorations:none; color:inherit;"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>
</div>




<header>
<div class="image"><img src="https://res.cloudinary.com/dzaz05xgm/image/upload/v1544246027/annie/inline-56c1e84460aa55da17c1cdc9a6d7c4d5-460x306.jpg" alt></div>
<div class="image"><img src="https://res.cloudinary.com/dzaz05xgm/image/upload/v1544246024/annie/B9316183420Z.1_20150211135058_000_GIE9U9DMN.1-0.jpg" alt></div>
<div class="image"><img src="https://res.cloudinary.com/dzaz05xgm/image/upload/v1544246021/annie/Skylight-Annie-Sky-Cast-Media-5-1024x683.jpg" alt></div>
<div class="image"><img src="https://res.cloudinary.com/dzaz05xgm/image/upload/v1544246011/annie/croft-at-Annie.jpg" alt></div>
<div class="image"><img src="https://res.cloudinary.com/dzaz05xgm/image/upload/v1544246011/annie/Liverpool-Empire-Theatre-1.jpg" alt></div>
<div class="image"><img src="https://res.cloudinary.com/dzaz05xgm/image/upload/v1544246003/annie/6a00e5538eb49b8834017c337af82c970b-500wi.jpg" alt></div>
<div class="image"><img src="https://res.cloudinary.com/dzaz05xgm/image/upload/v1544246002/annie/9873e2d1a0da7e1168cedfcf86152bdb--th-birthday-annie.jpg" alt></div>
<div class="image"><img src="https://res.cloudinary.com/dzaz05xgm/image/upload/v1544246001/annie/images.jpg" alt></div>


</header>
 
 
<input type="file" accept="image/*" id="file-input">
<script>
  const fileInput = document.getElementById('file-input');

  fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));


const cloudName = 'dzaz05xgm';
const unsignedUploadPreset = 'your unsigned upload preset';

$.cloudinary.config({
  cloud_name: cloudName
})

$('.cloudinary_fileupload').unsigned_cloudinary_upload(unsignedUploadPreset, {
    cloud_name: cloudName,
    tags: 'browser_uploads'
  }, {
    multiple: true
  }
  )
  .bind('cloudinarydone', function(e, data) {
    console.log(`data.loaded: ${data.loaded},
  data.total: ${data.total}`)
  })
  .bind('fileuploadprogress', function(e, data) {
    console.log(`fileuploadprogress data.loaded: ${data.loaded},
  data.total: ${data.total}`);
  })
  .bind('cloudinaryprogress', function(e, data) {
    console.log(`cloudinaryprogress data.loaded: ${data.loaded},
  data.total: ${data.total}`);
  })
  .bind('cloudinarydone', function(e, data) {
  // inspect data.result for return value with link to the uploaded image and more
  console.log('Upload result', data.result);
  // Create a thumbnail of the uploaded image, with 150px width
    var image = $.cloudinary.image(
        data.result.public_id, {
          secure: true,
          width: 150,
          crop: 'scale'
        });
    $('.gallery').prepend(image);
});

/*
Sample output in browser console:

cloudinaryprogress data.loaded: 1228664,
  data.total: 4620250
VM367:86 fileuploadprogress data.loaded: 1228664,
  data.total: 4620250
VM426:90 cloudinaryprogress data.loaded: 3751521,
  data.total: 4620250
VM367:86 fileuploadprogress data.loaded: 3751521,
  data.total: 4620250
VM426:90 cloudinaryprogress data.loaded: 4341280,
  data.total: 4620250
VM367:86 fileuploadprogress data.loaded: 4341280,
  data.total: 4620250
VM426:90 cloudinaryprogress data.loaded: 4620250,
  data.total: 4620250
VM367:86 fileuploadprogress data.loaded: 4620250,
  data.total: 4620250
VM339:82 data.loaded: 4620250,
  data.total: 4620250
  
*/


</script>

  
</body>

</html>