<html>

<header>
    <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
</header>

<div id="nav-footer">

    <div class="icons">
        <div class="events-button">
            <a href="menu" style="text-decorations:none; color:inherit;"><i class="fa fa-compass"></i></a>
        </div>
        <div class="images-button">
            <a href="photos" style="text-decorations:none; color:inherit;"><i class="fa fa-image"></i></a>
        </div>
        <div class="signout-button">
            <a href="/" style="text-decorations:none; color:inherit;"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>
</div>

<div class="event-menu-title">
</div>

<div id="events-nav">

    {{!-- <div class="events-list">
        <div class="event-name">
            <div class="add-event">
                <span style="font-size: 40px;">
                    <i class="fa fa-plus-square"></i>
                </span>
            </div>
            <h3>Artist | Venue</h3>
        </div>
    </div>

    <div class="events-list">
        <div class="event-name">
            <div class="add-event">
                <span style="font-size: 40px;">
                    <i class="fa fa-plus-square"></i>
                </span>
            </div>
            <h3>The Killers | WAMU Theatre</h3>
        </div>
    </div>

    <div class="events-list">
        <div class="event-name">
            <div class="add-event">
                <span style="font-size: 40px;">
                    <i class="fa fa-plus-square"></i>
                </span>
            </div>
            <h3>Beyonce | Century Link Field</h3>
        </div>
    </div>

    <div class="events-list">
        <div class="event-name">
            <div class="add-event">
                <span style="font-size: 40px;">
                    <i class="fa fa-plus-square"></i>
                </span>
            </div>
            <h3>Kygo | SoDo Box Office</h3>
        </div>
    </div> --}}




</div>
<script>
    var userDisplayName = "{{ user.displayName }}";
    var userId = "{{ user.id}}"
    var userSocialProvider = "{{user.provider}}";
    console.log(userDisplayName,userId);
     $.ajax({
                url: "/api/users/"+userId,
                method: "GET"
            }).then(function(res,err){
                res.Shows.forEach(element =>{
                    eventDisplay(element.eventId,element.eventName,element.eventVenue);
                });
            });
    function eventDisplay(eventId, artist, venue, index) {

    //declare variables and asssign empty html elements to them
    var listDiv, nameDiv, addDiv, span, h3, iTag;
    listDiv = $("<div>");
    nameDiv = $("<div>");
    addDiv = $("<div>");
    span = $("<span>");
    iTag = $("<i>");
    h3 = $("<h3>");
    h4 = $("<h4>");
  
    //populate the elements with data
    iTag.addClass("fa");
    iTag.addClass("fa-plus-square");
    iTag.addClass("add-event-button");
    iTag.data("event", {
        artistName: artist,
        venueName: venue,
        event: eventId
    });
    span.css({
        "font-size": "40px"
    });
    addDiv.addClass("add-event");
    addDiv.attr("id", eventId);
    nameDiv.addClass("event-name");
    listDiv.addClass("events-list");
    h3.text(artist);
    h4.text(" | " + venue)
    //construct the event thing to display
    span.append(iTag);
    addDiv.append(span);
    nameDiv.append(addDiv, h3, h4);
    listDiv.append(nameDiv);
    $("#events-nav").append(listDiv);
}
</script>

</html>