
<div class="action-buttons">
        <div id="camera-button">
            <span style="font-size:80px; color:#3C3C3C;">
                <a href="camera" style="text-decorations:none; color:inherit;"><i class="fa fa-camera"></i></a>
            </span>
        </div>
        <div id="images-button">
            <span style="font-size:80px; color:#4B4B4B;">
                <a href="photos" style="text-decorations:none; color:inherit;"><i class="fa fa-image"></i></a>
            </span>
        </div>
        <div id="signout-button">
            <span style="font-size:90px; color:#6C6C6C;">
                <a href="/" style="text-decorations:none; color:inherit;"><i class="fa fa-sign-out"></i></a>
            </span>
        </div>
    </div>

