
 
 body {
    background-color: #FFFEE6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    z-index: -2;
    overflow-x: hidden;
  overflow-y: scroll;
 }


 
 body,
 html {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
 }
 

h1 {
    font-size: 150px;
    color: #95DAE5;
}

a {
    color: inherit;
}

#title {
    color: #538CA9;
}


.login-buttons {

    height: 100px;
    padding: 20px;
  
    position: absolute;
    top: 49%;
    left: 50%;
  
    margin: 140px 0 0 -115px;
}

.select-login{
    width: 300px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 49%;
    left: 50%;
    margin: 230px 0 0 -80px;
    color: #538CA9;
}

#logo {
    width: 300px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 49%;
    left: 50%;
    margin: -260px 0 0 -120px;
    color: #538CA9;
}


#google-button {
    display: inline;
    margin-right: 20px;
}


#facebook-button{
    display: inline;
    margin-right: 20px;
}

#twitter-button{
    display: inline;
}

#github-button{
    display: inline;
}

/* LOGIN */

.action-buttons {
    width: 60%;
    height: 50%;
    padding: 20px;
    position: absolute;
    top: 49%;
    left: 50%;
    margin: -80px 0 0 -220px;
}

#nav-footer {
    margin-bottom: -80px;
    background-color: #95DAE5;
    padding: 20px;
    padding-left: 30px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #538CA9;
    z-index: 5;
}

.images-button {
    display: inline;
    color: #538CA9;
    font-size: 40px;
    margin-right: 5px;
}

.events-button {
    display: inline;
    color: #538CA9;
    font-size: 40px;
    margin-right: 5px;
}

.profile-button{
    display: inline;
    color: #538CA9;
    font-size: 40px;
    z-index: 10;
}



.camera-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    color: #95DAE5;
    font-size: 50px;
    border-radius: 60px;
    background-color: #538CA9;
    bottom: 38px;
    z-index: 8;
    padding: 20px;
    width: fit-content;
    margin-left:auto;
    margin-right: auto;

}

.signout-button{
    display: inline;
    position: absolute;
    right: 30px;
    color: #538CA9;
    font-size: 40px;
}

#events-nav {
    position: absolute;
    bottom: 100px;
    left: 15px;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}

.event-menu-title {
    position: absolute;
    margin-top: -28px;
    font-size: 25px;
    color: white;
    background-color: #3A2412;
    padding: 15px;
    width: 100%;
    z-index: 4;
    text-align: center;
}

.events-list {
    position: relative;
    width: fit-content;
    margin-bottom: 10px;
}

.event-name {
    margin-left: 60px;
    background-color: #538CA9;
    padding: 15px;
    border-top-right-radius: 10px;
    border-radius: 10px;
    color: white;
}

h3 {
    display: inline;
}

.fa-plus-square {
   position: absolute;
   left: 15px;
   top: 4px;
   border-radius: 50px;
   color: #CED4D8
}

.fa-arrow-circle-down {
    font-size: 40px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #95DAE5;
    padding: 0px;
    margin: 0px;
}






body { margin-bottom: 80px; }
header { 
margin-top: 28px;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw;
}
header div img { 
  width: 100%; 
  height: 100%; 
}
@media screen and (max-width: 400px) {
  header div { margin: 1; }
  header { padding: 1; }
}
